@* @{
             ViewData[index: "Title"] = "Details Page";
}

<div class="container">
    <div class="row justify-content-start align-items-center w-75 mx-auto h-100">
            <div class=" h-100">
                <img src="~/images/@ViewBag.Product.Image" class="card-img-top rounded mb-2" width="100%" style="max-height: 500px;" />
                <div class="card-body">
                    <h4>
                        @ViewBag.Product.Name
                    </h4>

                      <small class="text-muted">
                        @ViewBag.Product.Description
                     </small>
                    <br>
                     <small>السعر: </small>
                       <small class="text-text badge bg-danger p-2 text-white">
                        @ViewBag.Product.Price ريال
                     </small>
                     <hr>
                         <a asp-action=""  class="btn btn-success p-2">  اضف الى السلة</a>
                         <a asp-action=""  class="btn btn-secondary p-2">   العودة الى التسوق    </a>
                </div>
            </div>
     
    </div>
</div> *@